

.header{
	min-height:100px;
	background-color: red;

}
h1{
	text-align: center;
	color: white;
margin: 0;
  padding: 5px;
}
.container{
overflow: hidden;

}
.contact{
	min-height: 200px;
	background-color: green;
	width: 49%;
	float: left;


	  }

.blog{
min-height: 200px;
background-color: blue;
width: 51%;
float: right;

}
.footer{
	min-height:100px;
	background-color: black;
}